body {
  background-color: white;
  margin: 0%;
}

.center {
  text-align: center;
  margin: auto;
}

.justify {
  text-align: justify;
  margin: auto;
}

.logo{
  margin-right: 25%;
}

a {
  text-decoration: none;
  color: blanchedalmond;
  font-family: sans-serif;
  margin-top: -10px;
}

img{
    vertical-align: middle;
}

.bg {
  text-align: center;
  width: 50%;
  border: 3px solid green;
}

p.normal {
  font-size: 16px;
  font-family: sans-serif;
  text-align: center;
  font-weight: normal;
}

p.thick {
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
}

.topSection {
  background-color: black;
  text-align: right;
  vertical-align: middle;
}

.right {
  margin-top: -3%;
  margin-left: 52%;
}

.txtLogo {
  margin: 0;
  margin-top: 25px;
  margin-right: 3%;
  -ms-transform: translateY(-75%);
  transform: translateY(-75%);
  vertical-align: middle;
  display: inline-block;
  font-size: 90%;
}

.texts {
  margin-left: 8%;
  right: 50%;
  position: absolute;
  text-align: left;
  margin-top: 16%;
  font-family: sans-serif;
}

div {
  margin: auto;
  padding: 10px;
}

h1 {
  margin-left: 20%;
  margin-top: 10%;
  position: absolute;
  text-align: left;
  font-size: 40px;
  font-family: sans-serif;
}
